.app-container {
  font-family: 'Raleway', sans-serif;
  color: #14213D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100vw;
  padding: 0 15px;
  height: 100vh;
}

.task-section {
  display: flex;
  align-items: center;
  padding: 5px;
}

#task-input {
  font-family: 'Raleway', sans-serif;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 5px;
}

#task-btn {
  font-family: 'Raleway', sans-serif;
  background-color: #457B9D;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #F1FAEE;
  padding: 4px 10px;
  margin: 0 5px;
}

.task-view {
  color: #14213D;
  padding-inline-start: 0px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.2em;
}

.task-view input {
  margin-right: 10px;
}

.task-view li {
  list-style: none;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

.completed-task {
  text-decoration: line-through;
}

.task-buttons {
  display: flex;
  width: 300px;
  justify-content: space-between;
  border-bottom: 2px solid #14213d71;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.header-btns {
  color: #14213D;
  border: none;
  background-color: transparent;
  font-family: 'Raleway';
  font-size: 1.1em;
  cursor: pointer;
}

.header-btns:hover {
  color: #457B9D;
}